<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style4.css' />
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='/stylesheets/style contact.css' />

  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
    <a><img class="brand-logo" src="../images/circle-512.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Inicio</a></li>
        <li><a href="/menu">Clases</a></li>
        <li><a href="/contact">Contáctanos</a></li>

      </ul>
    </div>
  </nav>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <center><div class="fb-page" data-href="http://www.facebook.com/paellasazafran303" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="http://www.facebook.com/paellasazafran303" class="fb-xfbml-parse-ignore"><a href="http://www.facebook.com/paellasazafran303">El Azafran 303</a></blockquote></div></center>

<center><h1>Para más información  contáctanos </h1></center>

<row class="row_contact"><center>

<i  class="large material-icons ">dialer_sip</i>
<a>787-671 5586</a>
<i class="large material-icons icon">email</i>
<a>elazafran303@gmail.com</a>
<i class="large material-icons icon">room</i>
<a>Avenida M. calle 6 casa 606</a>
</row></center>

<form id="uuu" class="w3-container w3-card-4 w3-light-grey">
  <h3>Danos tu opinión</h2>

  <p><label>Que te gusto de nuestro producto</label>
  <input class="w3-input w3-border" name="first" type="text"></p>

  <p><label>Que no te gusto de nuestro producto</label>
  <input class="w3-input w3-border" name="last" type="text"></p>

  <p><label>Volvería a comprar nuestro producto</label>
  <input class="w3-input w3-border" name="last" type="text"></p>

  <p><label>Del 1 al 10 cuantos nos darías</label>
  <input class="w3-input w3-border" name="last" type="text"></p>

</form>

  <footer class="page-footer">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Contact info</h5>
                 <p class="grey-text text-lighten-4">Chef Tony:787-671-5586</p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text"></h5>
                 <ul>
                   <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">Nuestra página de Facebook </a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
             © el azafran 303
             </div>
           </div>
         </footer>



  </body>
