<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style4.css' />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>



  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">home</a></li>
        <li><a href="/menu">menu</a></li>
        <li><a href="/contact">contact us</a></li>
      </ul>
    </div>
  </nav>

  <footer class="page-footer">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Contact info</h5>
                 <p class="grey-text text-lighten-4">chef tony:787-671-5586</p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text">Links</h5>
                 <ul>
                   <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">our facebook page</a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
             © el azafran 303
             </div>
           </div>
         </footer>



  </body>
</html>
