<!DOCTYPE html>
<html>
  <head>

    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/style home.css' />


  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a><img class="brand-logo" src="../images/circle-512.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">home</a></li>
        <li><a href="/contact">contactanos</a></li>
        <li><a href="/menu">menu</a></li>
      </ul>
    </div>
  </nav>



<div id="carucel"class="w3-content w3-display-container">

<div id="midle" class="w3-display-container mySlides">
  <img src="/images/paella-de-mariscos.jpg" style="width:100%">
  <div class="w3-display-middle w3-large w3-container w3-padding-16 lock">
    <h1>cocina sin problema</h1>
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/images/pople.jpg" style="width:100%">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16  lock">
  <h2>la mejor cocina en tu casa</h2>
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/images/paellam.jpg" style="width:100%">
  <div class="w3-display-topleft w3-large w3-container w3-padding-16  lock">
    <h3>el amor a la paella</h3>
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/images/paellav.jpg" style="width:100%">
  <div class="w3-display-topright w3-large w3-container w3-padding-16  lock ">
  <h4>cocinar con mucho gusto</h4>
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="/images/cenas 2.jpg" style="width:100%">
  <div class="w3-display-middle w3-large w3-container w3-padding-16  lock">
  <h5>tambien hacemos catering</h5>
  </div>
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>


 <center><p><button class="w3-button w3-orange">Regristrate tu clase </button></p></center>

  <script type="text/javascript" src="/javascripts/jgwuer.js"></script>

  <div class="row">
        <div id="cocina" class="col s12">Por que clases de paella</div>
        <div class="row">
      </div>
      <div id= "cocina2"class="col s12">Los puertorriqueños buscamos alternativas de sano entretenimiento para compartir en familia y con amigos. Muchas veces cuando estamos en nuestras casas nos enfocamos en los teléfonos,televisión y las preocupaciones del diario vivir. Esto ocasiona que la familias no socialicen y no iteratúen entre ellos mismos ni con amigos. </div>

    </div>

  <center><div id=buuutonclass="w3-container">

<center><h1>Comparte.Cosina.Divierte</h1></center>
<div id= "cocina2"class="col s12">Disfruta de nuestra clase de paella donde podras escojer entre distintas opciones de paella.Compartir y disfrutar con familiares o amigos</div>

<a href="#" class="w3-btn w3-orange">Otras altrnativas</a>
</div></center>

      <footer class="page-footer">
               <div class="container">
                 <div class="row">
                   <div class="col l6 s12">
                     <h5 class="white-text">Contact info</h5>
                     <p class="grey-text text-lighten-4">chef tony:787-671-5586</p>
                   </div>
                   <div class="col l4 offset-l2 s12">
                     <h5 class="white-text">Links</h5>
                     <ul>
                       <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">our facebook page</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
               <div class="footer-copyright">
                 <div class="container">
                 © el azafran 303
                 </div>
               </div>
             </footer>




  </body>
</html>
