<!DOCTYPE html>
<html>
  <head>
    <title></title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style2.css' />


  </head>
  <body>
  <h1>Azafran</h1>
  <h2>Una cocina con gusto y mucha pasion</h2>

  <center><a class="btn">button</a></center>


  </body>
</html>
