<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style2.css' />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>



  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="carousel carousel-slider" height="300">
    <a class="carousel-item" href="#one!"><img src="../images/paella2.png"></a>
    <a class="carousel-item" href="#two!"><img src="../images/paella2.png"></a>
    <a class="carousel-item" href="#three!"><img src="../images/paella2.png"></a>
    <a class="carousel-item" href="#four!"><img src="../images/paella2.png"></a>
  </div>

<p>rtsdgsdgsdgfs</p>




  </body>
</html>
