<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style menu.css' />

  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a><img class="brand-logo" src="../images/circle-512.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">home</a></li>
        <li><a href="/contact">contatanos</a></li>
        <li><a href="/menu">menu</a></li>
      </ul>
    </div>
  </nav>




</head>
<body>


<div class= "lok">
  <h1><img class="brand" src="./images/circle-512.png" alt="">Azafran</h1>
  <h2>Una cocina con gusto y mucha pasión.</h2>
<center><a class="btn" href="/home">Reserva tu espacio hora</a></center>
</div>


<center><h3>Tag line</h3></center>
<div id= "cocina2"class="col s12">Words .</div></center>

<div id=nonono>
<div class="row" >
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/pollo.jpg">
              <span class="card-title">paella de pollo</span>
            </div>
            <div class="card-content">
              <p>esta es una de las paellas mas basicas que ofresemos que contiene mucho sabor</p>
            </div>
            <div class="card-action">
              <a href="#">Reserva tu espacio hora</a>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/Paella-Campesina.jpg">
              <span class="card-title">paella campesina</span>
            </div>
            <div class="card-content">
              <p>Estapalla combina todas tipo de carne para una sabrosa experiencia.</p>
            </div>
            <div class="card-action">
              <a href="#">Reserva tu espacio hora</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
              <div class="col s6 m6">
                <div class="card">
                  <div class="card-image">
                    <img src="images/paellam.jpg">
                    <span class="card-title">paella de mariscos</span>
                  </div>
                  <div class="card-content">
                    <p>la paella de mariscos esta repleta de variedads de animales nauticas para una eperiensa culinaria fresca del mar</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Reserva tu espacio hora</a>
                  </div>
                </div>
              </div>
              <div class="col s6 m6">
                <div class="card">
                  <div class="card-image">
                    <img src="images/paellav.jpg">
                    <span class="card-title">paella valencia</span>
                  </div>
                  <div class="card-content">
                    <p>esta paella combina lo mejor de los dos mundos de mariscos y pollo</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Reserva tu espacio hora</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form id="uuu" class="w3-container w3-card-4 w3-light-grey">
            <h3>Danos tu opinion</h2>

            <p><label>Nobre</label>
            <input class="w3-input w3-border" name="first" type="text"></p>

            <p><label>Email</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Tel.</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>cantidad de personas</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Direccion</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Tel.</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <select class="w3-select" name="option">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Paella de pollo</option>
              <option value="2">Paella campesino</option>
              <option value="3">Paella de mariscos</option>
              <option value="3">Paella valenciana</option>
            </select>

          </form>


<center><a class="btn" href="/home">Envia</a></center>





        <footer class="page-footer">
                 <div class="container">
                   <div class="row">
                     <div class="col l6 s12">
                       <h5 class="white-text">Contact info</h5>
                       <p class="grey-text text-lighten-4">chef tony:787-671-5586</p>
                     </div>
                     <div class="col l4 offset-l2 s12">
                       <h5 class="white-text">Links</h5>
                       <ul>
                         <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">our facebook page</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <div class="footer-copyright">
                   <div class="container">
                   © el azafran 303
                   </div>
                 </div>
               </footer>





  </body>
</html>
