

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='/stylesheets/style menu.css' />

  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a><img class="brand-logo" src="../images/circle-512.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">Inicio</a></li>
        <li><a href="/menu">Clases</a></li>
        <li><a href="/contact">Contáctanos</a></li>

      </ul>
    </div>
  </nav>




</head>
<body>


<div class= "lok">
  <h1><img class="brand" src="./images/circle-512.png" alt="">Azafrán</h1>
  <h2>Una cocina con gusto y mucha pasión.</h2>
<center><a class="btn" href="/home">Reserva tu espacio</a></center>
</div>


<center><h3>La mejor experiencia gastronómica en P.R.</h3></center>
<div id= "cocina2"class="col s12">Disfruta de las paellas más populares en el mercado</div></center>

<div id=nonono>
<div class="row" >
        <div  class="col s6 m6">
          <div id="pop" class="card">
            <div class="card-image">
              <img id="uo"src="images/pollo.jpg">
              <span class="card-title">Paella de pollo</span>
            </div>
            <div class="card-content">
              <br>
              <br>
              <p>Esta es una de las paellas más básicas que ofrecemos que contiene mucho sabor</p>
            </div>
            <div class="card-action">
              <a href="#">Reserva tu espacio ahora</a>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/Paella-Campesina.jpg">
              <span class="card-title">Paella campesina</span>
            </div>
            <div class="card-content">
              <p>Esta paella combina todo tipo de carne para una sabrosa experiencia.</p>
            </div>
            <div class="card-action">
              <a href="#">Reserva tu espacio ahora</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
              <div class="col s6 m6">
                <div class="card">
                  <div class="card-image">
                    <img src="images/paellam.jpg">
                    <span class="card-title">Paella de mariscos</span>
                  </div>
                  <div class="card-content">
                    <p>Esta paella contiene una variedad de mariscos para una experiencia culinaria fresca</p>
                  </div>
                  <div class="card-action">
                    <a href="">Reserva tu espacio ahora</a>
                  </div>
                </div>
              </div>
              <div class="col s6 m6">
                <div id="lol" class="card">
                  <div id="va" class="card-image">
                    <img src="images/paellavalen.jpg">
                    <span class="card-title">Paella valenciana</span>
                  </div>
                  <div class="card-content">Esta paella combina lo mejor de los dos mundos,  mariscos y pollo</p>
                  </div>
                  <div class="card-action">
                    <a href="">Reserva tu espacio ahora</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form id="uuu" class="w3-container w3-card-4 w3-light-grey">
            <h3>Ordena</h2>

            <p><label>Nombre</label>
            <input class="w3-input w3-border" name="first" type="text"></p>

            <p><label>Email</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Tel.</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Cantidad de personas (mínimo de 10 personas)</label>
            <input class="w3-input w3-border" name="last" type="text"></p>

            <p><label>Dirección</label>
            <input class="w3-input w3-border" name="last" type="text"></p>



          </form>

          <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">paellas
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Paella de pollo</a></li>
    <li><a href="#">Paella campesina</a></li>
    <li><a href="#">Paella de mariscos</a></li>
    <li><a href="#">Paella valenciana</a></li>
  </ul>
</div>

<p><button class="w3-button w3-orange">Pagar</button></p>


        <footer class="page-footer">
                 <div class="container">
                   <div class="row">
                     <div class="col l6 s12">
                       <h5 class="white-text"> info</h5>
                       <p class="grey-text text-lighten-4">Chef Tony:787-671-5586</p>
                     </div>
                     <div class="col l4 offset-l2 s12">
                       <h5 class="white-text"></h5>
                       <ul>
                         <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">Nuestra página de Facebook</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
                 <div class="footer-copyright">
                   <div class="container">
                   © el azafran 303
                   </div>
                 </div>
               </footer>
