<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/jgwuer.js">
    </script>
    <title>Azafran</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel='stylesheet' href='/stylesheets/style3.css' />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>



  </script>
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-warapper" >
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home">home</a></li>
        <li><a href="/menu">menu</a></li>
        <li><a href="/contact">cantact us</a></li>
      </ul>
    </div>
  </nav>


  <div class="row">
          <div class="col s6 ">
            <div class="card">
              <div class="card-image">
                <img src="images/Breakfast.jpg">
                <span class="card-title">Breakfast</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>


                <div class="col s6 ">
                  <div class="card">
                    <div class="card-image">
                      <img src="/images/Cenas 1.jpg">
                      <span class="card-title">Dinner</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                      <div class="col s6 ">
                        <div class="card">
                          <div class="card-image">
                            <img src="images/paella.jpg">
                            <span class="card-title">paellas</span>
                          </div>
                          <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                          </div>
                          <div class="card-action">
                            <a href="#">This is a link</a>
                          </div>
                        </div>
                      </div>

                          <div class="col s6 ">
                              <div class="card">
                                <div class="card-image">
                                  <img src="/images/lechon 1.jpg">
                                  <span class="card-title">Actividades</span>
                                </div>
                                <div class="card-content">
                                  <p>wertyhuji8iu7y6try9okijugy7i8r7u65nyu64this is spale textI am a very simple card. I am good at containing small bits of information.
                                  I am convenient because I require little markup s is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale texts is spale textto use effectively.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#">This is a link</a>
                                </div>
                              </div>
                            </div>
                          </div>















  <footer class="page-footer">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Contact info</h5>
                 <p class="grey-text text-lighten-4">chef tony:787-671-5586</p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text">Links</h5>
                 <ul>
                   <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/paellasazafran303/?fref=ts">our facebook page</a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
             © el azafran 303
             </div>
           </div>
         </footer>





  </body>
</html>
