
html {
    font-family:Helvetica;
  }

#cocina{
font-size: 40px ;
   font-family:cooper hewitt;
}
#cocina2{
  font-size: 20px ;
  font-family:cooper hewitt;
}
  .navbar{
    background-color: #ff5900;
  }
  .carousel.carousel-slider{

  }

.brand-logo{
  width: 60px;
  height: 60px;
}





  .p1 {

    font-family: helvetica;

  }
  .p2{
      font-family: helvetica;
  }
  body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

   main {
     flex: 1 0 auto;
   }
.page-footer{
  background-color: #ff5900
}
