
html {
    font-family:Helvetica;
  }

body {
  }
  .navbar{
    background-color: #ff5900;
  }
  .carousel.carousel-slider{

  }
/*  .p1 {
    position: relative;
    left : 600px;
    font-family: helvetica;

  }
  .p2{
    position: relative;
  }*/
h1{
