


.brand-logo{
  width: 60px;
  height: 60px;
}


html {
    font-family:Helvetica;
  }

body {
  background-image: url("../images/paella2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
}

h1{ text-align: center;
  color: #fafafa;
  font-family: helvetica;
  font-size: 100px;
  margin: 0 auto;
}

h2{text-align: center;
  Color: #fafafa;
  font-family: cooper hewitt;
  font-size: 90px;
  margin: 200 auto;
}
.btn{
  margin-top: 100px;

}


a {
  color: #00B7FF;
}
  }
  .brand-logo{
    width: 60px;
    height: 60px;
  }

  .navbar{
    background-color: #ff5900;

}

.brand{
  width: 100px;
  height: 100px;

}

.page-footer{
  background-color: #ff5900;
  margin-top: 100px;
}
