
html {
    font-family:Helvetica;
  }

#cocina{
font-size: 40px ;
   font-family:cooper hewitt;
}
#cocina2{
  font-size: 40px ;
  font-family:cooper hewitt;
}
  .navbar{
    background-color: #ff5900;
  }
  .carousel.carousel-slider{

  }

.brand-logo{
  width: 60px;
  height: 60px;
}
.page-footer{
  background-color: #ff5900;

}

#buuuton{
  font-size: 70px
}
#carucel{
  width: 100%;
  margin: 0;
  max-width: 1440px;
  height: 30

}


  .p1 {

    font-family: helvetica;

  }
  .p2{
      font-family: helvetica;
  }
  body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

   main {
     flex: 1 0 auto;
   }
.page-footer{
  background-color: #ff5900
}

.word{
  Color: #fafafa;
  font-family: cooper hewitt;
  font-size: 90px;

}
#mar{

  margin-top: 60px;
  margin-bottom: 60px;
}
.lock{
  font-size: 90px;
  color: #fafafa;

}
h6{
  font-size: 40px ;
     font-family:cooper hewitt;
}
h7 {
  font-size: 40px ;
     font-family:cooper hewitt;
}
#myrow{
  margin-top: 100px;
}
.baner{
  width: auto;
  height: 100px;
}
h1{
font-size: 40px ;
   font-family:cooper hewitt;
}
h2 {
  font-size: 60px;
  position: relative;
}
h3 {
  font-size: 50px;
  position: relative;
}
h4 {
  font-size: 50px;
  position: relative;
}
h5 {
  font-size: 40px ;
     font-family:cooper hewitt;
}
