
html {
    font-family:Helvetica;
  }


  .navbar{
    background-color: #ff5900;

  }
  body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

   main {
     flex: 1 0 auto;
   }
.page-footer{
  background-color: #ff5900
}
