
html {
    font-family:cooper hewitt;
  }

  .brand-logo{
    width: 60px;
    height: 60px;
  }

  .navbar{
    background-color: #ff5900;
  }
  .carousel.carousel-slider{

  }
  .p1 {

    font-family: cooper hewitt;

  }
  .p2{
      font-family:cooper hewitt ;
  }
  body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

.dropdown{
  margin: 0
}
   main {
     flex: 1 0 auto;
   }
.page-footer{
  background-color: #ff5900
}
.icon{
  margin-left: 70px;
}
h1{
  font-size: 40px;
  font-family: cooper hewitt;
}

}
#uuu{
  margin: 50px;
}
