.brand-logo{
  width: 60px;
  height: 60px;
}


html {
    font-family:;
  }

body {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
}

h1{
  text-align: center;
  color: #fafafa;
  font-family: helvetica;
  font-size: 100px;
  margin: 0 auto;
}

h2{text-align: center;
  Color: #fafafa;
  font-family: cooper hewitt;
  font-size: 90px;
  margin: 200 auto;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff5900;
}
h3 {
  font-size: 60px ;
     font-family:cooper hewitt;
     font-weight: bold;
}
#cocina2{
  font-size: 30px ;
  font-family:cooper hewitt;
}
a {
  color: #00B7FF;
}
  }
  .brand-logo{
    width: 60px;
    height: 60px;
  }

  .navbar{
    background-color: #ff5900;

}

.brand{
  width: 100px;
  height: 100px;

}

.page-footer{
  background-color: #ff5900;
  margin-top: 100px;
}
.lok{
  background-image: url("../images/paella2.png");

  margin-bottom: 70px;

}
#nonono{
  margin-top: 80px;
}

}
