
html {
    font-family:Helvetica;
  }

  .brand-logo{
    width: 60px;
    height: 60px;
  }

  .navbar{
    background-color: #ff5900;
  }
  .carousel.carousel-slider{

  }
  .p1 {

    font-family: helvetica;

  }
  .p2{
      font-family: helvetica;
  }
  body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
   }

   main {
     flex: 1 0 auto;
   }
.page-footer{
  background-color: #ff5900
}
